.nav {
    grid-area: n;
    background-color: bisque;
    padding: 20px;
}
.item a {
    border-bottom: 1px solid #eaeaea;
    font-size: 13px;
    color: #8d8d8d;
    padding: 9px 0;
    display: block;
    position: relative;
    text-transform: none;
    line-height: 17px;
    letter-spacing: 0;
    text-decoration: none;
    transition: 0.2s linear;
}
.item a:hover{
    color: #ff0000;
}
.item a.activeLink{
    color: black;
}